@import url('https://fonts.cdnfonts.com/css/sf-compact-display');
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'SF Compact Display', sans-serif;
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
input{
    background-color: whitesmoke;
    border-radius: 5px;
    border: 0;
    margin-left: 5px;
}
button{
    color: white;
    background-color: rgb(115, 198, 250);
    border-radius: 5px;
    border: 0;
    margin-left: 5px;
}
#username{
    color: black;
    margin-top: 50px;
    font-size: 26px;
    font-weight: bold;
}
#username:hover{
    color: rgb(115, 198, 250);
    text-decoration: underline;
    color: rgb(115, 198, 250);
}
.avatar{
    background-image: url();
    width: 183px;
    height: 183px;
    border-radius: 183px;
    background-size: cover;
    position: relative;
}
.dot {
    height: 30px;
    width: 30px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 130px;
    top: 150px;
}
table{
    width: 800px;
}
th{
    background-color: whitesmoke;
    border: whitesmoke;
    height: 50px;
    width: 600px;
}
td{
    height: 50px;
    width: 600px;
    text-align: center;
    color: rgb(140, 140, 140);
}
button{
    width: 50px;
}
button:hover{
    width: 55px;
    height:25px;
}
