@import url('https://fonts.cdnfonts.com/css/sf-compact-display');
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'SF Compact Display', sans-serif;
}
html{
    height: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    background-color: #fff;
}
.logo img{
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
}
.logo{
    display: flex;
    flex-direction: row;
    color: red;
    align-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: 3rem;
    margin-left: 1rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
    align-items: center;
    font-weight: 900;
    font-size: 3rem;
}
.navigator{
    padding: 1rem;
    font-size: 1.5rem;
}
.home{
    display: flex;
    flex-direction: row;
    height: 49rem;
    background-color: red;
}
.highlight{
    width: 100%;
    padding-top: 4rem;
    padding-left: 4rem;
}
h1{
    font-size: 3.3rem;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
h2{
    font-size: 5.3rem;
    color: #fff;
    font-weight: 900;
}
.promoted{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 4rem;
}
#boxx{
    height: 24rem;
    width: 20rem;
    border: 0.5rem;
    border-style: solid;
    border-color: #fff;
    border-radius: 2rem;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}
a{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}
footer{
    font-size: 1.5rem;
    background-color: #fff;
    color: tomato;
    height: 4rem;
    width: 100%;
    text-align: center;
    align-content: center;
}